<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.cat.info.mapper.CatSearchMapper">
    <!--模糊匹配必须自定义-->
    <resultMap id="catSearchMap" type="com.pet.common.dto.Cat">
        <id column="id" property="id"></id>
        <result column="breed_name" property="breedName"></result>
        <result column="breed_type" property="breedType"></result>
        <result column="suitable_housing" property="suitableHousing"></result>
        <result column="required_care_hours" property="requiredCareHours"></result>
        <result column="suitable_experience" property="suitableExperience"></result>
        <result column="budget_level" property="budgetLevel"></result>
        <result column="shedding_degree" property="sheddingDegree"></result>
        <result column="personality_type" property="personalityType"></result>
        <result column="breed_features" property="breedFeatures"></result>
        <result column="personality_traits" property="personalityTraits"></result>
        <result column="feeding_suggestions" property="feedingSuggestions"></result>
        <result column="health_attention" property="healthAttention"></result>
        <result column="interaction_needs" property="interactionNeeds"></result>
        <result column="budget_reference" property="budgetReference"></result>
        <result column="img_url" property="imgUrl"></result>
    </resultMap>
    <!-- 模糊猫咪查询 -->
    <select
            id="findCatList"
            parameterType="com.pet.common.dto.Cat"
            resultMap="catSearchMap"
    >
        SELECT breed_name,breed_type,breed_type,suitable_housing,required_care_hours,suitable_experience,
        budget_level,shedding_degree,personality_type,breed_features,personality_traits,feeding_suggestions,
        health_attention,interaction_needs,budget_reference
        FROM cat_characteristic
        WHERE
            breed_name LIKE CONCAT('%', #{breedName}, '%')
           OR breed_type   LIKE CONCAT('%', #{breedName}, '%')
           OR suitable_housing   LIKE CONCAT('%', #{breedName}, '%')
           OR required_care_hours   LIKE CONCAT('%', #{breedName}, '%')
           OR suitable_experience   LIKE CONCAT('%', #{breedName}, '%')
           OR budget_level   LIKE CONCAT('%', #{breedName}, '%')
           OR shedding_degree   LIKE CONCAT('%', #{breedName}, '%')
           OR personality_type   LIKE CONCAT('%', #{breedName}, '%')
           OR breed_features   LIKE CONCAT('%', #{breedName}, '%')
           OR personality_traits   LIKE CONCAT('%', #{breedName}, '%')
           OR feeding_suggestions   LIKE CONCAT('%', #{breedName}, '%')
           OR health_attention   LIKE CONCAT('%', #{breedName}, '%')
           OR interaction_needs   LIKE CONCAT('%', #{breedName}, '%')
           OR budget_reference   LIKE CONCAT('%', #{breedName}, '%')

        LIMIT 10;
    </select>


</mapper>